*{
    box-sizing: border-box;
}
@media (min-width:992px) and (max-width:1200px) {
    .black-spot-padding {
        padding: 2% 3% 2% 0% !important;
    }
    .container__arrow{
        position: relative;
    }

    .react, .arrow{
        visibility: hidden;
    }
    .content--option{
        padding: 0!important;
    }
    .main-select:hover .container__arrow  .react,
    .main-select:hover .container__arrow  .arrow{
        visibility: visible;
    }

    .content-text{
        padding-left: 10px!important ;
    }    
}

@media (min-width:992px) {
    .full-height {
        height: 100%;
    }
    .sizingwhite {
        width:53.125%
    }
    .sizingblack {
        width:46.875%
    }
    .scroll-hidden {
        overflow: hidden;
    }
    .scroll-visible {
        overflow: auto;
    }
}

.sizingblack{
    padding: 0!important;
}

.backwardsBtn:hover, 
.backwardsBtn:hover .backwards-svg {
    color: #EFEFEF !important;
    fill: #EFEFEF !important;
    transition: all 0.5s;
}

.content__option{
    padding-left:0 !important ;
}

.main-select .increase-font-size {
    font-size: 1rem;
    color: #858585;
    transition: all 0.8s ease-in-out ;
}

.main-select:hover .increase-font-size {
    color: #E52450 !important;
    font-size: 1rem;
    transition: all 0.5s ease-in-out ;
}

.container__arrow{
    position: relative;
}

.react{
    position: absolute;
    height: 7.87px;
    width: 30px;
    transition: width 0.8s ease-in-out;
}

 .react-select{
    width: 49.66px;
    height: 7.87px;
    transition: width 0.5s ease-in-out;
}


.main-select:hover .container__arrow  .react{
    width: 49.66px;
    height: 7.87px;
    transition: width 0.5s ease-in-out;
}

.main-select:hover .container__arrow  .react .path--react{
    fill: #e52450 !important; 
    height: 7.87px;
    transition: fill 0.5s ease-in-out;
}

.arrow{
    position: absolute;
    height: 7.87px;
    color: #858585;
    transform: translateX(27px);
    transition: transform 0.8s ease-in-out;
}

.arrow-select{
    transform: translateX(-5px);
    transition: transform 0.5s ease-in-out;
}

.main-select:hover .container__arrow  .arrow{
    transform: translateX(45px);
    transition: transform 0.5s ease-in-out;
}
.main-select:hover .container__arrow  .arrow .path--arrow{
    position: absolute;
    fill: #e52450 !important;
}

.static-size {
    line-height: 20px;
}

.cera-black-title {
    font-size: 64px !important;
    line-height: 3rem !important;
}
.cera-light-title {
    font-size: 58px !important;
    line-height: 3rem !important;
}
