@media (min-width:1200px) {
    .black-spot-padding {
        padding: 2% 3% 2% 0% !important;
    }
}
@media (max-width: 1200px) and (min-width: 992px) {
    .black-spot-padding {
        padding: 2% 3% 0% 3%;
    }
}

@media (min-width:992px) {
    .full-height {
        height: 100%;
    }
    .sizingwhite {
        width:53.125%
    }
    .sizingblack {
        width:46.875%
    }
    .scroll-hidden {
        overflow: hidden;
    }
    .scroll-visible {
        overflow: auto;
    }
}

.backwardsBtn:hover, 
.backwardsBtn:hover .backwards-svg {
    color: #EFEFEF !important;
    fill: #EFEFEF !important;
    transition: all 0.5s;
}

.content__option{
    padding-left:0 !important ;
}
.main-select .increase-font-size {
    font-size: 1rem;
    color: #858585;
    transition: all 0.8s ease-in-out ;
}

.main-select:hover .increase-font-size {
    color: #E52450 !important;
    font-size: 1.1rem;
    transition: all 0.5s ease-in-out ;
}

.container__arrow{
    position: relative;
}

.react{
    position: absolute;
    height: 7.87px;
    width: 30px;
    transition: width 0.8s ease-in-out;
}

.main-select:hover .container__arrow  .react{
    width: 49.66px;
    height: 7.87px;
    transition: width 0.5s ease-in-out;
}

.main-select:hover .container__arrow  .react .path--react{
    fill: #e52450 !important; 
    height: 7.87px;
    transition: fill 0.5s ease-in-out;
}

.arrow{
    position: absolute;
    height: 7.87px;
    color: #858585;
    transform: translateX(27px);
    transition: transform 0.8s ease-in-out;
}
.main-select:hover .container__arrow  .arrow{
    transform: translateX(45px);
    transition: transform 0.5s ease-in-out;
}
.main-select:hover .container__arrow  .arrow .path--arrow{
    position: absolute;
    fill: #e52450 !important;
}

.main-select .arrow-svg,
.main-select .path-arrow-svg {
    width: 29.66px;
    height: 7.87px;
    transition: width 0.8s ease-in-out ;
}

.main-select:hover .arrow-svg,
.main-select:hover .path-arrow-svg {
    width: 59.66px;
    height: 7.87px !important;
    fill: #e52450 !important; 
    transition: width 0.5s ease-in-out;
    cursor: pointer ;
}

.static-size {
    line-height: 20px;
}

.cera-black-title {
    font-size: 64px !important;
    line-height: 3rem !important;
}
.cera-light-title {
    font-size: 58px !important;
    line-height: 3rem !important;
}
